<div class="navbar container">
    <a href="index.html">Home</a>
    <a href="whoweare.html">Who We Are</a>
    <div class="dropdown">
      <button class="dropbtn">Strategy
        <i class="fa fa-caret-down"></i>
      </button>
      <div class="dropdown-content">
        <a href="#">Empowering Families & Communities</a>
        <a href="#">Strengthening the 3R's</a>
        <a href = "selfcarefirst.html">Self-Care First</a>
      </div>
    </div>
    <div class = "dropdown">
      <button class = "dropbtn">Areas of Advocacy
        <i class = "fa fa-caret-down"></i>
      </button>
      <div class = "dropdown-content">
        <a href = "advocacy.html">Advocacy</a>
        <a href = "specialeducationrights&proc.html">Special Education Rights & Procedures</a>
        <a href = "">Behavioral Health (MH & DA)</a>
        <a href = "#">Truancy</a>
        <a href = "#">School Discipline</a>
        <a href = "#"> Bullying</a>
        <a href = "#">Juvenile Justice</a>
      </div>
    </div>
    <a href = "#">Resources</a>
    <a href = "#">Donations</a>
    <a href = "#">Contact Us</a>
  </div>